<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="device-width, initial-scale=1" />
    @Styles.Render("~/bundles/bootstrap")
    @Styles.Render("~/bundles/homepage")
    <script src="http://ajax.aspnetcdn.com/ajax/jQuery/jquery-2.2.1.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.js"></script>
    <script src="http://ajax.aspnetcdn.com/ajax/jquery.validate/1.14.0/jquery.validate.js">
   </script>
    <script src="../Scripts/jquery.validate.unobtrusive.js">
    </script>
    <title>Cognitive System</title>
</head>
<body>
    <nav class="navbar navbar-default" style="background-color:#779ECB;">
        <div class="container-fluid">
            <div class="navbar-header">
                <a class="navbar-brand" href="@Url.Action("Index", "System")">Logo </a>
            </div>
            <ul class="nav navbar-nav" id="nav">
                <li id="topNav"><a class="topNav" style="color: white;" href="@Url.Action("Login", "User")">Home </a></li>
                <li id="topNav"><a class="topNav" style="color: white;" href="@Url.Action("About", "System")">About us</a></li>
                <li id="topNav"><a class="topNav" style="color: white;" href="@Url.Action("Contact", "System")">Contact us</a></li>
            </ul>
        </div>
    </nav>
    <div id="body">
        <div class="container-fluid">
            <section class="content-wrapper main-content clear-fix">
                @RenderBody()
            </section>
        </div>
    </div>
    <footer>
        <div class="content-wrapper" id="footer">
            <div id="bottomMid">
                <a class="bottomNav" href="@Url.Action("About", "System")">About us</a> |
                <a class="bottomNav" href="@Url.Action("Contact", "System")">Contact us</a>
            </div>
        </div>
    </footer>

    
</body>
</html>