@model CognitiveDecisionSystem.Models.WidgetDashboard
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <script src="http://ajax.aspnetcdn.com/ajax/jQuery/jquery-2.2.1.js"></script>
    <script src="http://code.highcharts.com/highcharts.js"></script>
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.12/css/dataTables.bootstrap.min.css " />
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.12/css/jquery.dataTables.min.css " />
    <script src="https://cdn.datatables.net/1.10.12/js/jquery.dataTables.min.js"></script>
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.12/css/jquery.dataTables.min.css">
    @Styles.Render("~/bundles/bootstrap")
    @Styles.Render("~.bundles/multi-select-css")
    @Styles.Render("~/bundles/create-widget")
    @Styles.Render("~/bundles/homepage")
    @Styles.Render("~/bundles/dashboard")
    @Scripts.Render("~/bundles/bootstrap-jquery")
    @Scripts.Render("~/bundles/multi-select-js")
    <!--This script needs to be declared last since it will need bootstrap and jquery declaration first in order to run this script-->
    @Scripts.Render("~/bundles/create-widget-script")
    <title>Create widget</title>

</head>
<body>
    <!--Top navigation-->
    <nav class="navbar navbar-default" style="background-color:#779ECB; margin-bottom: 0px; ">
        <div class="container-fluid">
            <div class="navbar-header">
                <a class="navbar-brand" href="@Url.Action("Index", "System")">Logo </a>
            </div>
            <ul class="nav navbar-nav" id="nav">
                <li id="topNav"><a class="topNav" style="color: white;" href="@Url.Action("Login", "User")">Home </a></li>
                <li id="topNav"><a class="topNav" style="color: white;" href="@Url.Action("About", "System")">About us</a></li>
                <li id="topNav"><a class="topNav" style="color: white;" href="@Url.Action("Contact", "System")">Contact us</a></li>
            </ul>
        </div>
    </nav>
    <!--End top navigation-->
   <!--Body content-->
    <div id="body" style="position: relative;">
        <!--if((System.Web.HttpContext.Current.User != null) && System.Web.HttpContext.Current.User.Identity.IsAuthenticated)-->

        <div class="container-fluid " style=" position: relative;  " >
            <div class="row" id="main-content">
                <!--Navigation menu-->
                <div class="col-sm-2" id="content-menu" >
                    <ul class="list-group">
                        <li id="user" class="list-group-item">
                            <h3>Welcome back,</h3>
                            <img id="user-image" src="~/Images/default_user_img.png" alt="Profile image" width="60" height="60" /><br /><br />
                            <p style="font-size: 20px;">@User.Identity.Name</p>
                            <p style="font-size: 15px;">@ViewBag.Role</p>
                            <p style="font-size: 15px;">@ViewBag.Rank</p>
                        </li>
                        <li class="list-group-item" id="summary-dashboard" onclick=" location.href='/RegularUser/YourDashboard'">
                            <span class="glyphicon glyphicon-dashboard"></span>
                            <p>Dashboard</p>    
                        </li>
                        <li class="list-group-item" id="create-widget" style="background-color: #337ab7; color: white;">
                            <span class="glyphicon glyphicon-duplicate"></span>
                            <p>Create Widget</p>
                        </li>
                        <li class="list-group-item" id="logout" onclick=" location.href='/RegularUser/LogOut'">
                            <span class="glyphicon glyphicon-log-out"></span>
                            <p>Logout</p>
                        </li>   
                    </ul>
                </div>
                <!--End navigation menu-->
                <div class="col-sm-10" id="create-widget-session">
                    <p style="color: #5DADE2; font-size: 40px; " id="title"><img src="~/Images/widget-icon.png" style="width: 15%; height: 15%;" /> Create Widget</p>
                        <div class="row">
                            <div class="col-sm-4">
                                <label for="database-select">Select a database  </label>
                                <select id="database-select" class="form-control" onfocus="this.oldvalue = this.value;" onchange="selectDatabase(this); ">
                                    <option disabled selected>-- Select an option -- </option>
                                    <option value="finance">Finance</option>
                                    <option value="engineer">Engineer</option>
                                    <option value="transaction">Transaction</option>
                                </select>
                            </div>
                            
                                 
                        </div>
                        <br />
                        <!--Filter Container-->
                        <div class="row" id="condition-container">
                            <div class="col-sm-12">
                                <h4><b>Filter By</b></h4>
                                <div class="well well-lg">
                                    <!--Select tables-->
                                    <div id="table-selection" style="margin-bottom: 25px;">
                                        <p><b>Tables</b> <font style="font-size: 15px;" id="table-badge-selection"></font></p>
                                        <p><a href="javascript:void(0);" id="table-popover" style="animation: true;text-decoration: none;" onclick="displayContent('table-content');"><img src="~/Images/plus.svg" style="border: 1px solid black; opacity: 0.3; height: 2.5%; width: 2.5%;"></a>&nbsp; View/Hide the Table panel</p>   
                                        <!--Popover for Table part-->
                                        <div  id="table-content" class="custom-content">

                                            <div class="row">
                                                <div class="col-sm-3">
                                                    <label for="table-select">Select a table</label>
                                                    <select onchange="selectTable();" id="table-select" class="form-control" disabled title="Activate when database is selected" >
                                                        <option disabled selected>-- Select an option --</option>
                                                    </select>
                                                   
                                                </div>
                                               
                                                <div class="col-sm-9">
                                                   
                                                    <div class="dropdown" style="margin-top:25px;">

                                                        <img src="~/Images/plus.svg" class="dropdown-toggle" data-toggle="dropdown" style="border: 1px solid black; opacity: 0.3; height: 4%; width: 4%;"> <font style="font-size: 15px; color: grey;">&nbsp;Link relevant tables of the chosen table</font>

                                                        <ul class="dropdown-menu" id="link-referenced-tables">
                                                           
                                                        </ul>
                                                    </div>        
                                                </div>
                                            </div>

                                        </div>
                                        <!--End popover for Table part-->


                                    </div>
                                    <!--Conditions containe: data will be added later once user has selected a condition-->
                                    <div id="condition-container">
                                        <p style="display: inline-block;"><b>Conditions </b><font id="condition-badge-selection" style="font-size: 15px;"></font></p>    
                                    </div>
                                    <p>
                                        <a href="javascript:void(0);" id="condition-popover" onclick="displayContent('condition-content');"  ><img src="~/Images/plus.svg" style="border: 1px solid black; opacity: 0.3; height: 2.5%; width: 2.5%;"></a>&nbsp; View/Hide the Conditions panel  
                                    </p>
                                   
                                    <!--Popover for conditions part-->
                                    <div style="display: none;" id="condition-content" class="custom-content">


                                        <div class="row">
                                            <div class="col-sm-3">
                                                <label for="attribute-select">Select a column</label>
                                                <select onchange="getData(); checkColumnType();"class="form-control" id="attribute-select" disabled>
                                                    <option selected disabled>-- Select an option --</option>
                                                </select>
                                                <!--Show data beforehand for user to know what kind of condition they will select-->
                                                <div id="pre-data">
                                                    <button id="preview" class="btn btn-warning" data-toggle="collapse" href="#pre-data-table" style="width: 228px;"><span data-toggle="tooltip" title="Choose an attribute in the condition.Press this button to view/hide the data" style="font-size: 16px;">Preview column data <span style="float: right;" class="glyphicon glyphicon-chevron-down" ></span></span></button>
                                                </div>
                                            </div>
                                            <div class="col-sm-3">
                                                <!--For now, we assume only numerical will be selected, string and other types will be considered later-->
                                                <label for="operation">Operation</label>
                                                <select class="form-control" id="operation">
                                                    <option >=</option>
                                                    <option >></option>
                                                    <option >=</option>
                                                    <option ><</option>
                                                    <option ><=</option>
                                                </select>
                                              

                                            </div>
                                            <div class="col-sm-3">
                                                <label for="data">Enter the Value</label>
                                                <input type="text" class="form-control" id="data" />
                                            </div>
                                            <div class="col-sm-3">               
                                                <button class="btn btn-md btn-info" style="margin-top: 25px; color: white;  width: 100px;" onclick="selectCondition();" >Add</button>
                                            </div>
                                        </div>
                                       
                                    </div>
                                    <!--End popover for condition part-->
                                   
                                    <!--Data content div to show the preview of data-->
                                    <div id="pre-data-content" style="display: inline-table; ">
                                        <div id="pre-data-table" class="collapse" style="padding: 10px;">
                                            <h4>Please select a column in Conditions content</h4>
                                        </div>
                                    </div>
                                    <!--End data content div to show the preview of data-->

                                    <!--View section-->
                                    <div id="view-container">
                                        <p><b>Display</b><font style="font-size:15px;" id="view-badge-selection"></font></p>
                                    </div>
                                    <p><a href="javascript:void(0);" id="view-popover"  onclick="displayContent('view-content');"><img src="~/Images/plus.svg" style="border: 1px solid black; opacity: 0.3; height: 2.5%; width: 2.5%;"></a>&nbsp; View/Hide the Display panel</p>
                                    <!--End view section-->

                                    <!--Popover for View part-->
                                    <div  id="view-content" class="custom-content">

                                        <div class="row">
                                            <div class="col-sm-3">
                                                <label for="view-select">View options </label>
                                                <select class="form-control" id="view-select" title="Active when database is selected" onchange="enableAttr();">
                                                    <option value="Raw">Raw (list the chosen column as raw data)</option>
                                                    <option disabled>Other functions (to be added)</option>
                                                </select>
                                            </div>
                                            <div class="col-sm-3">
                                                <label for="attribute-other-view">Choose one column</label>
                                                <select class="form-control" id="attribute-other-view">
                                                    <option selected disabled>-- Select an option --</option>
                                                </select>
                                            </div>
                                            <div class="col-sm-3">
                                                <label for="grouping-other-view">Add a grouping</label>
                                                <select class="form-control" id="grouping-other-view" disabled>
                                                    <option></option>
                                                </select>

                                            </div>
                                            <div class="col-sm-3">                          
                                                <button class="btn btn-md btn-info" style="margin-top: 25px; color: white;  width: 100px;" onclick="selectView();">Add</button>
                                            </div>
                                            
                                        </div>

                                    </div>
                                    <!--End Popover for View part-->

                                </div>
                            </div>
                        </div>
                        <!--End filter container-->    

                        <!--Alert text for users-->
                        <div class="alert alert-info">
                            <strong>Note:</strong> It is recommended to query the data with <b>table visualization</b> first before choosing any other visualization<br />
                            By clicking the visualization type, data will be translated to chart or tables.
                        </div>
                         <!--End alert text-->
                        
                        <!--Visualization text and Save Widget on the right side-->
                        <div >
                            
                            <b style="font-size: 18px;">Visualization <font style="font-size:15px;" id="chart-badge-selection"></font></b>
                            
                            <div class="btn btn-group" style="float: right; margin-top: -16px;">                                
                                <button class="btn btn-info btn-md" title="Save widget in database"  data-toggle="modal" data-target="#add-dashboard" data-placement="auto"><b>Save widget</b></button>
                            </div>                            
                        </div>
                        <!--End visualization text-->
                        
                       <!--Visualization part-->
                        <div class="row" id="visualization-container" style="margin: 5px; padding-top: 5px;" >     
                            <!--Chart selection-->                      
                            <div class="col-sm-4">       
                                <h4>Basic charts  <span class="glyphicon glyphicon-question-sign" href="#"  data-toggle="tooltip" title="To enable Pie, Column, Area and Line Chart, at least 2 columns must be chosen in Display section"></span> </h4>                        
                                <div class="dropdown">
                                    <button class="btn btn-primary dropdown-toggle" type="button" style="width: 100px;" data-toggle="dropdown">
                                        Options
                                        <span class="caret"></span>
                                    </button>
                                    <ul class="dropdown-menu" style="background-color: #eee; padding: 0px;">
                                        <li id="table" style="background-color: white;"><a href="javascript: changeChartType('Table');"><img src="~/Images/table-icon.png" style=" height: 25px; width: 25px;  " /> Table</a></li>
                                        <li id="pie-chart" class="disabled" ><a href="javascript: changeChartType('Pie');"><img src="~/Images/pie-chart-icon.png" style=" height: 25px; width: 25px;  " /> Pie Chart</a></li>
                                        <li id="column-chart" class="disabled"><a href="javascript: changeChartType('Column');"><img src="~/Images/column-chart-icon.png" style=" height: 25px; width: 25px;  " /> Column Chart</a></li>
                                        <li id="area-chart" class="disabled" ><a href="javascript: changeChartType('Area');"><img src="~/Images/area-chart-icon.png" style=" height: 25px; width: 25px;  " /> Area Chart</a></li>
                                        <li id="line-chart" class="disabled" ><a href="javascript: changeChartType('Line');"><img src="~/Images/line_chart_icon.jpg" style=" height: 25px; width: 25px;  " /> Line Chart</a></li>
                                    </ul>
                                </div>                               
                            </div>
                            <!--End chart selection-->

                            <!--Chart details panel-->
                            <div class="col-sm-8" id="chart-detail">
                                <h4>Chart Details <span class="glyphicon glyphicon-question-sign" href="#" data-placement="top" data-toggle="tooltip" title="This options is used for charts except tables. As suggested, display table first for data, then configure different type of charts appropiately"></span></h4>
                                <label for="chart-title">Chart Title</label>
                                <input type="text" class="form-control" id="chart-title" />

                                <div style="position: relative;" id="chart-configuration">
                                    <div class="row" style="margin: 5px;">
                                        <h4>Chart Configuration <span class="glyphicon glyphicon-question-sign" href="#" data-placement="top" data-toggle="tooltip" title="LEFT OPTIONS: for Area, Line and Column Charts.RIGHT OPTIONS: for Pie Chart "></span></h4>
                                        <div class="col-sm-6">
                                            <label for="x-axis"><b>X-Axis</b><span class="glyphicon glyphicon-question-sign" href="#" data-placement="top" data-toggle="tooltip" title="Choose columns for the x-axis. At most 2 columns can be chosen "></span><font id="xaxis-badge-selection" style="bottom: 5px;font-size: 10px;"></font></label>
                                            <select onchange="addXAxis();" class="form-control" id="x-axis" disabled>
                                                <option selected disabled>-- Select an option --</option>
                                            </select>
                                            <label for="y-axis">Y-Axis<span class="glyphicon glyphicon-question-sign" href="#" data-placement="top" data-toggle="tooltip" title="Choose columns for the y-axis. You can choose many columns. If 2 x-axis have been chosen, for now only choose 1 y-axis for this case"></span><font id="yaxis-badge-selection" style="font-size: 15px;"></font></label>
                                            <select onchange="addYAxis();"  class="form-control" id="y-axis" disabled>
                                                <option selected disabled>-- Select an option --</option>
                                            </select>
                                        </div>
                                        <div class="col-sm-6" style="border-left: 1px solid #eee;">
                                            <label for="pie-value-name"><b>Dimension</b></label>
                                            <select class="form-control" id="pie-value-name" disabled>
                                                <option selected disabled>-- Select an option --</option>
                                            </select>
                                            <label for="pie-value">Measure</label>
                                            <select class="form-control" id="pie-value" disabled>
                                                <option selected disabled>-- Select an option --</option>
                                            </select>
                                        </div>
                                    </div>
                                </div>
                                <p style="display: inline-block; padding-top: 10px;">
                                    <button class="btn btn-md btn-success" style=" margin-left: 18px;" onclick="configureChart()">Configure</button>
                                   
                                   
                                       &nbsp; <font id="configure-notice" style="color: red; font-size: 18px; font-weight: bold;"></font>
                                    
                                </p>
                               
                            </div>
                            <!--End chart details panel-->
                        </div>
                        <!--End visualization part-->

                        <!--Chart visualization area-->
                        <div id="chart-visualization" style="position: relative; margin-top:10px;">
                           
                        </div>
                        <!--End chart visualization area-->
                    </div>
                </div>
            </div>
        <!--Save widget modal-->
        <div id="add-dashboard" class="modal fade" role="dialog">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h2>Save Widget</h2>
                    </div>
                    <div class="modal-body" style="height: 230px;">
                        <div class="form-dashboard">
                            <form role="form" action="/System/AddWidget" name="widgetForm" method="post" onsubmit="return checkWidgetInfo()">
                                <div class="form-group" style="display:none;">
                                  
                                    @Html.TextBoxFor(m => m.WidgetName, new { @class = "form-control" , id ="widget-title"})                               
                                    @Html.TextBoxFor(m => m.WidgetQuery, new { @class = "form-control", id = "widget-query" })
                                    @Html.TextBoxFor(m => m.WidgetType, new { @class = "form-control", id = "widget-type" })
                                  </div>
                                <div>
                                    
                                    @Html.LabelFor(m => m.DashboardId)
                                    @Html.DropDownListFor(m => m.DashboardId, new SelectList(" "), new { @class = "form-control", id = "dashboard-list" })
                                    <br />
                                </div>
                                <div class="form-group">
                                    <button type="submit" class="btn btn-lg btn-info" style="float: right;">Create</button>
                                </div>
                    </form>
                    </div>
                </div>
            </div>
        </div>
         
        </div>
        <!--End save widget modal-->
        </div>
    <!--End body content-->

    <footer>
        <div class="content-wrapper" id="footer">
            <div id="bottomMid">
                <a class="bottomNav" href="@Url.Action("About", "System")">About us</a> |
                <a class="bottomNav" href="@Url.Action("Contact", "System")">Contact us</a>
            </div>
        </div>
    </footer>
</body>
</html>
