
@model CognitiveDecisionSystem.Models.Register
@{
    ViewBag.Title = "Register";
    Layout = "~/Views/Shared/_BootstrapLayout.cshtml";

   
      

}
<script>
    function check()
    {
        console.log($("#role").val());
    }
</script>
@Styles.Render("~/bundles/register")
<div id="register-section" class="table-responsive">
    <div id="container">
        <div class="panel panel-info" id="panel">
            <div class="panel-heading">
                <p style="font-size: 16px;"><span class="glyphicon glyphicon-user"></span> Register your account </p>
            </div>
            <div class="panel-body">
                <p>@ViewBag.Error</p>
                <form action="/RegularUser/Register" name="registerForm" role="form" method="post" onsubmit="check()">
                    @Html.AntiForgeryToken()
                    @Html.ValidationSummary(true)
                    <div class="form-group">
                        @Html.LabelFor(model => model.FullName)
                        @Html.TextBoxFor(model => model.FullName, new { @class = "form-control" })
                        @Html.ValidationMessageFor(model => model.FullName)
                    </div>
                    <div class="form-group">
                        @Html.LabelFor(model => model.Occupation)
                        @Html.TextBoxFor(model => model.Occupation, new { @class = "form-control" })
                        @Html.ValidationMessageFor(model => model.Occupation)
                    </div>
                    <div class="form-group">
                        @Html.LabelFor(model => model.selectedValue)
                        @Html.DropDownListFor(model => model.selectedValue, Model.ListRole, new { @class = "form-control", id = "role" })
                        @Html.ValidationMessageFor(model => model.selectedValue)
                    </div>
                    <div class="form-group">
                        @Html.LabelFor(model => model.Age)
                        @Html.TextBoxFor(model => model.Age, new { @class = "form-control" })
                        @Html.ValidationMessageFor(model => model.Age)
                    </div>
                    <div class="form-group">
                        @Html.LabelFor(model => model.Email)
                        @Html.TextBoxFor(model => model.Email, new { @class = "form-control" })
                        @Html.ValidationMessageFor(model => model.Email)
                    </div>

                    <div class="form-group">
                        @Html.LabelFor(model => model.PhoneNumber)
                        @Html.TextBoxFor(model => model.PhoneNumber, new { @class = "form-control" })
                        @Html.ValidationMessageFor(model => model.PhoneNumber)
                    </div>
                    <div class="form-group">
                        @Html.LabelFor(model => model.UserName)
                        @Html.TextBoxFor(model => model.UserName, new { @class = "form-control" })
                        @Html.ValidationMessageFor(model => model.UserName)
                    </div>
                    <div class="form-group">
                        @Html.LabelFor(model => model.Password)
                        @Html.PasswordFor(model => model.Password, new { @class = "form-control" })
                        @Html.ValidationMessageFor(model => model.Password)
                    </div>
                    <div class="form-group">
                        @Html.LabelFor(model => model.ConfirmPassword)
                        @Html.PasswordFor(model => model.ConfirmPassword, new { @class = "form-control" })
                        @Html.ValidationMessageFor(model => model.ConfirmPassword)
                    </div>
                    <input class="btn btn-info" type="submit" value="Register">
                </form>
            </div>
        </div>
    </div>
</div>