@model CognitiveDecisionSystem.Models.FormDashboard

@{
    Layout = null;
    var nothing = "Nothing";
   
    var totalWidget = 0;
    for (int i = 0; i < ViewBag.Dashboards.Length; i++)
    {
        totalWidget += ViewBag.Dashboards[i].Widgets.Count;
    }
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <script src="http://ajax.aspnetcdn.com/ajax/jQuery/jquery-2.2.1.js"></script>
    @Styles.Render("~/bundles/bootstrap")
    @Scripts.Render("~/bundles/bootstrap-jquery")
    @Styles.Render("~/bundles/homepage")
    @Styles.Render("~/bundles/dashboard")
   
    <title>Your Dashboard</title>
    <script>
        function check()
        {
            if($("#dashboard-name").val().length == 0 || $("#dashboard-desc").val().length == 0)
            {
                $("#error").html("You must not let the inputs empty");
                return false;
            }

            return true;
        }
    </script>
</head>
<body>
    <nav class="navbar navbar-default" style="background-color:#779ECB;">
        <div class="container-fluid">
            <div class="navbar-header">
                <a class="navbar-brand" href="@Url.Action("Index", "System")">Logo </a>
            </div>
            <ul class="nav navbar-nav" id="nav">
                <li id="topNav"><a class="topNav" style="color: white;" href="@Url.Action("Login", "User")">Home </a></li>
                <li id="topNav"><a class="topNav" style="color: white;" href="@Url.Action("About", "System")">About us</a></li>
                <li id="topNav"><a class="topNav" style="color: white;" href="@Url.Action("Contact", "System")">Contact us</a></li>
            </ul>
        </div>
    </nav>
    <div id="body">
        <!--if((System.Web.HttpContext.Current.User != null) && System.Web.HttpContext.Current.User.Identity.IsAuthenticated)-->

        <div class="container-fluid " style="margin-top: -21px;">
            <div class="row" id="main-content">
                <div class="col-sm-2" id="content-menu">
                    <ul class="list-group">
                        <li id="user" class="list-group-item">
                            <h3>Welcome back,</h3>
                            <img id="user-image" src="~/Images/default_user_img.png" alt="Profile image" width="60" height="60" /><br /><br />
                            <p style="font-size: 20px;">@User.Identity.Name</p>
                            <p style="font-size: 15px;">@ViewBag.Role</p>
                            <p style="font-size: 15px;">@ViewBag.Rank</p>
                        </li>
                        <li class="list-group-item" id="profile" onclick="location.href='/System/Induction_Page_Update'">
                            <span class="glyphicon glyphicon glyphicon-th-list"></span>
                            <p>Workspace</p>
                        </li>
                        <li class="list-group-item" id="summary-dashboard" style="background-color: #337ab7; color: white;">
                            <span class="glyphicon glyphicon-dashboard"></span>
                            <p>Dashboard</p>
                        </li>
                        <li class="list-group-item" id="create-widget" onclick=" location.href='/RegularUser/CreateWidget'">
                            <span class="glyphicon glyphicon-duplicate"></span>
                            <p>Create Widget</p>
                        </li>
                        <li class="list-group-item" id="logout" onclick=" location.href='/RegularUser/LogOut'">
                            <span class="glyphicon glyphicon-log-out"></span>
                            <p>Logout</p>
                        </li>
                    </ul>
                </div>
                <div class="col-sm-10" id="content-dashboard" style="height: 800px;">
                    <div id="title-dashboard">

                        <p style="color: #5DADE2; font-size: 40px; " id="title"><img src="~/Images/Dashborad icon.png" style="width: 15%; height: 15%;" /> Your dashboard</p>
                        <div id="summary-dashboard">
                            <div >
                                <div class="row">
                                    <div class="col-sm-6">
                                        <p>Number of dashboards <span class="badge">@ViewBag.Dashboards.Length</span></p>
                                        <p>Newly created dashborad <span class="badge">@{ if (ViewBag.Dashboards.Length != 0)
                                                                                          {
                                                                                              @ViewBag.Dashboards[ViewBag.Dashboards.Length - 1].DashboardName
                                                                                          }
                                                                                          else
                                                                                          {
                                                                                              @nothing
                                                                                          }
                                                                    }</span> </p>
                                        <p>Total widgets on dashboards <span class="badge">@totalWidget</span> </p>
                                        <p>Newly created widget <span class="badge">@{
                                            if(ViewBag.NewlyCreatedWidget == null)
                                            {
                                                @nothing
                                            }
                                            else
                                            {
                                                @Html.Raw(@ViewBag.NewlyCreatedWidget.WidgetName+" ("+ViewBag.NewlyCreatedWidget.Dashboard.DashboardName+")");
                                            }
                                                                                         }</span>  </p>
                                    </div>
                                    <div class="col-sm-6">
                                        
                                        <a style="float: right;" href="#" data-toggle="modal" data-target="#modal-dashboard" data-placement="auto" title="Add new dashboard"><img src="~/Images/widgetized.svg" class="modal-content" id="create-widget-icon" style="height: 100px; width: 100px;"></a>
                                        <span class="glyphicon glyphicon-hand-right" style="float: right; padding-top: 30px; font-size: 30px;">&nbsp;</span>
                                    </div>
                                </div>
                            </div>
     
                        </div>

                        <div id="widgets-container" class="well well-sm" style="background-color: white; overflow: auto;  max-height: 400px; box-shadow: 7px 7px #eee; ">
                           
                            <!--Add new dashborad to this div element with id dashboard-placement -->
                            <div id="dashboard-placement" class="container" style="display: inline-block; width: 100%; padding-top: 15px; ">
                                <div class="row">
                                    <div class="col-sm-3">
                                        <a href="@Url.Action("SupplierPerformance", "System")" style="display: inline-block; text-decoration: none;">
                                            <div class="panel panel-default" style="width: 200px; height: 160px; overflow-y:auto;">
                                                <div class="panel-heading">
                                                    <span class="glyphicon glyphicon-dashboard"></span> <b style="font-size: 19px;">Supplier Performance</b>

                                                </div>
                                                <div class="panel-body">
                                                    <p style="color: black;"><b>Description:</b> Default dashboard for every user</p>
                                                </div>
                                            </div>
                                        </a>
                                    </div>
                                    <div class="col-sm-3">
                                        <a href="@Url.Action("Induction_Page_Update", "System")" style="display: inline-block; text-decoration: none;">
                                            <div class="panel panel-default" style="width: 200px; height: 160px; overflow-y:auto;">
                                                <div class="panel-heading">
                                                    <span class="glyphicon glyphicon-dashboard"></span> <b style="font-size: 19px;">Induction Page</b>

                                                </div>
                                                <div class="panel-body">
                                                    <p style="color: black;"><b>Description:</b> Default page for every user</p>
                                                </div>
                                            </div>
                                        </a>
                                    </div>
                                    @{
                                        for (int i = 0; i < ViewBag.Dashboards.Length; i++)
                                        {
                                            <div class="col-sm-3">
                                                <a href="/System/DisplayWidgets?id=@ViewBag.Dashboards[i].DashboardId" style="display: inline-block; text-decoration: none;">
                                                    <div class="panel panel-default" style="width: 200px; height: 160px; overflow-y:auto;">
                                                        <div class="panel-heading">
                                                           <span class="glyphicon glyphicon-dashboard"></span> <b style="font-size: 19px;">@ViewBag.Dashboards[i].DashboardName (@ViewBag.Dashboards[i].Widgets.Count)</b>
                                                           
                                                        </div>
                                                        <div class="panel-body">
                                                            <p style="color: black;"><b>Description:</b> @ViewBag.Dashboards[i].DashboardDesc</p>
                                                        </div>
                                                    </div>
                                                </a>
                                            </div>
                                        }
                                    }
                                </div>
                            </div>
                            <div id="modal-dashboard" class="modal fade" role="dialog">
                                <div class="modal-dialog">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <h2>Add new dashborad</h2>
                                        </div>
                                        <div class="modal-body" style="height: 250px;">
                                             <p id="error" style="color: red; font-weight: bold;"></p>
                                            <div class="form-dashborad">
                                                <form role="form" action="/System/AddDashboard" name="createDashboardForm" method="post" onsubmit="return check()">
                                                    @Html.AntiForgeryToken()
                                                    @Html.ValidationSummary(true)
                                                    <div class="form-group">
                                                        @Html.LabelFor(m => m.DashboardName)
                                                        @Html.TextBoxFor(m => m.DashboardName, new { @class = "form-control", id="dashboard-name" })
                                                        @Html.ValidationMessageFor(m => m.DashboardName)
                                                    </div>
                                                    <div class="form-group">
                                                        @Html.LabelFor(m => m.DashboardDesc)
                                                        @Html.TextBoxFor(m => m.DashboardDesc, new { @class = "form-control", id="dashboard-desc" })
                                                        @Html.ValidationMessageFor(m => m.DashboardDesc)
                                                    </div>
                                                    <div class="form-group" style="display: none;">
                                                        
                                                        @Html.TextBoxFor(m => m.Username, new { @class = "form-control", Value = @User.Identity.Name })
                                                       
                                                    </div>
                                                    <div class="form-group">
                                                        <button type="submit" class="btn btn-lg btn-info" style="float: right;">Create</button>
                                                    </div>
                                                </form>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
            </div>
        </div>
    </div>
    </div>

    <footer>
        <div class="content-wrapper" id="footer">
            <div id="bottomMid">
                <a class="bottomNav" href="@Url.Action("About", "System")">About us</a> |
                <a class="bottomNav" href="@Url.Action("Contact", "System")">Contact us</a>
            </div>
        </div>
    </footer>
</body>
</html>